<bullethell>
  <settings>
    <difficulty>normal</difficulty>
  </settings>
  <game>
    <enemy>
      <startTime>2000</startTime>
      <health>10000</health>
      <movement>random</movement>
      <fire>rope</fire>
      <fire>pulsatingblast</fire>
      <fire>doublerope</fire>
      <projectile>rope</projectile>
      <projectile>pulsating</projectile>
      <projectile>rope</projectile>
      <duration>20000</duration>
      <fire>spinningblast</fire>
      <projectile>spinning</projectile>
      <duration>20000</duration>
      <fire>triplerope</fire>
      <fire>pulsatingblast</fire>
      <projectile>rope</projectile>
      <projectile>pulsating</projectile>
      <duration>20000</duration>
      <fire>lazers</fire>
      <fire>mcflurry</fire>
      <projectile>lazer</projectile>
      <projectile>standard</projectile>
      <x>0.5</x>
      <y>above</y>
    </enemy>
    <!--<enemy>
      <startTime>2000</startTime>
      <movement>staggared</movement>
      <fire>123</fire>
      <projectile>standard</projectile>
      <x>0.1</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>2200</startTime>
      <movement>staggared</movement>
      <fire>123</fire>
      <projectile>standard</projectile>
      <x>0.3</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>2400</startTime>
      <movement>staggared</movement>
      <fire>123</fire>
      <projectile>standard</projectile>
      <x>0.5</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>2600</startTime>
      <movement>staggared</movement>
      <fire>123</fire>
      <projectile>standard</projectile>
      <x>0.7</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>2800</startTime>
      <movement>staggared</movement>
      <fire>123</fire>
      <projectile>standard</projectile>
      <x>0.9</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>3000</startTime>
      <movement>dtl</movement>
      <fire>666</fire>
      <projectile>standard</projectile>
      <x>0.9</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>3000</startTime>
      <movement>dtr</movement>
      <fire>666</fire>
      <projectile>standard</projectile>
      <x>0.1</x>
      <y>above</y>
      excluding health sets it to 1 by default
    </enemy>
    <enemy>
      <startTime>5000</startTime>
      <movement>paused</movement>
      <texture>monster</texture>
      <fire>lazers</fire>
      <projectile>lazer</projectile>
      <x>0.5</x>
      <y>above</y>
      100 health means 100 hits to kill
      <health>100</health>
    </enemy>
    <enemy>
      <startTime>6000</startTime>
      <movement>staggered</movement>
      <fire>spinningblast</fire>
      <projectile>spinning</projectile>
      <x>0.7</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>7000</startTime>
      <movement>staggered</movement>
      <fire>pulsatingblast</fire>
      <projectile>pulsating</projectile>
      <x>0.2</x>
      <y>above</y>
    </enemy>
    <enemy>
      <startTime>7000</startTime>
      <movement>staggered</movement>
      <fire>triplerope</fire>
      <projectile>orange</projectile>
      <x>0.35</x>
      <y>above</y>
    </enemy>-->
  </game>
</bullethell>